.nav {
  grid-area: nav;
  height: 600px;
  background-color:#ffffff;
  /* border: 1px solid rgba(202, 200, 200, 0.616); */
  /* box-shadow: 0 0 15px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.item a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
  text-decoration: none;
  font-size: 24px;
  transition: 0.1s;
  width: 150px;
  border-radius: 10px;

}
.item a:hover {
  background-color: #00A2A1;
  color: white
}
.item a.active{
  background-color: #00A2A1;
  color:white;
}